# Oracle Materialized View Log PoC

In [ ]:
%load_ext sql

In [ ]:
%sql oracle+oracledb://system:sTGYtm5EYwgj5t@localhost:1521/FREE

In [ ]:
%% sql

ALTER SESSION SET CONTAINER=FREE;
SHUTDOWN IMMEDIATE;
STARTUP MOUNT;
ALTER DATABASE ARCHIVELOG;
ALTER DATABASE OPEN;

In [ ]:
%% sql

CREATE TABLE SYSTEM.PEOPLE (
    id NUMBER GENERATED BY DEFAULT AS IDENTITY,
    last_name VARCHAR(255) NOT NULL,
    first_name VARCHAR(255) NOT NULL,
    address VARCHAR(255),
    city VARCHAR(255),
    PRIMARY KEY(id)
);

INSERT INTO PEOPLE (id, first_name, last_name, address, city) VALUES (1, 'John', 'Doe', '123 Main St', 'Anytown');
INSERT INTO PEOPLE (id, first_name, last_name, address, city) VALUES (2, 'Jane', 'Roe', '456 Pine St', 'Othertown');

CREATE MATERIALIZED VIEW LOG ON SYSTEM.PEOPLE
WITH PRIMARY KEY, ROWID
INCLUDING NEW VALUES;


CREATE MATERIALIZED VIEW SYSTEM.PEOPLE_FULL_NAMES
REFRESH FAST ON COMMIT
AS SELECT id, first_name || ' ' || last_name AS full_name
FROM SYSTEM.PEOPLE;

ALTER DATABASE ADD SUPPLEMENTAL LOG DATA;

ALTER TABLE SYSTEM.PEOPLE ADD SUPPLEMENTAL LOG DATA (ALL) COLUMNS;

ALTER DATABASE ADD SUPPLEMENTAL LOG DATA (ALL) COLUMNS;

GRANT EXECUTE_CATALOG_ROLE TO system;
GRANT CONNECT TO system;
GRANT CREATE SESSION TO system;
GRANT SELECT ON SYS.V_$DATABASE TO system;
GRANT SELECT ON SYS.V_$ARCHIVED_LOG TO system;
GRANT SELECT ON SYS.V_$LOGMNR_CONTENTS TO system;
GRANT EXECUTE ON DBMS_LOGMNR TO system;
GRANT EXECUTE ON DBMS_LOGMNR_D TO system;
GRANT SELECT ANY TRANSACTION TO system;
GRANT SELECT ANY TABLE TO system;

GRANT LOGMINING TO system;

GRANT SELECT ON DBA_EXTENTS TO system;

In [ ]:
%% sql

INSERT INTO people (id, first_name, last_name, address, city) VALUES (3, 'Alice', 'Smith', '789 Oak St', 'Springfield');
INSERT INTO people (id, first_name, last_name, address, city) VALUES (4, 'Bob', 'Johnson', '101 Maple St', 'Greenfield');

SELECT * FROM people_full_names;